.title {
  margin-bottom: 5vh;
}

.card {
  margin: auto;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  margin-top: 50px;
}

.cartpage {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
.cstext-right {
  text-align: right !important;
}
.main-content {
  margin: 0;
  padding: 3vh 0;
  width: 100%;
}
.img {
  width: 3.5rem;
}
.col-2,
.col {
  padding: 0 1vh;
}
.row {
  margin: 0;
}

.title b {
  font-size: 1.5rem;
}
.close {
  float: right;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  cursor: pointer;
}
.summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
}
.btn {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
}
