.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}
.image {
  margin-right: 50px;
}
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
  display: block;
  font-size: 14px;
  color: #43484d;
  font-weight: 400;
}
.quantity{
  margin-left: 80px;
}
.plus-btn,
.minus-btn {
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
  background: none;
}
.total-price{
  width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}